.fixed-menu{
  display: block;
  background-color: pink;
  height: 100px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;

}

#main{
  display: flex;
  box-sizing: border-box;
  width: auto;


}



.navbar {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    box-sizing: border-box;
    z-index: 5;
    justify-content: center;
}

  .navbar a {
    float: left;
    display: block;
    color: seashell;
    font-family: helvetica;
    font-size: 22px;
    text-decoration: underline;
}

.navbar img{
  height: 50px;
  margin-left: 10px;
  align-items: flex-start;
}

.logo{
  height: 50px;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  margin: 0;
  width: auto;
  opacity: 0.9;
}

.nav-container{
  display: flex;
  justify-content: flex-end;
  width: auto;


}

.nav-item-links{
margin-left: 10px;
padding: 10px;
font-family: helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
}

.background-image-flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-background-image{
  display: flex;
  border: 1px solid blue;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 1200px;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.main-content-headline{
  background-color: black;
  width: 100%;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.second-headline{
  text-align: center;
  background-color: black;
  width: 100%;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.images{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 1000px;
  margin: 0;
  border: 1px solid blue;
  background-color: black;
  width: 100%;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  padding-top: 30px;
  justify-content: space-around;


}

.img1{

}
